body {
    padding-top: 5rem;
	margin-bottom:80px; 
}

dl, ol, ul { 
	cursor: move;
}

footer {
     position: fixed;
     height: 50px;
     bottom: 0;
     width: 100%;
}
.footer-lead{
    padding:15px;
    font-size: 14px;
}